body {
    border-bottom: solid 2px black;
    padding-bottom: 15px;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h3 {
    text-transform: capitalize;
   
}

body>h3{
    border-bottom: solid 2px black;
    padding-bottom: 15px;
    
}
 
img{
    float: left;
    width: 25%;
}