* {
    padding: 0px;
    margin: 0px;
}
table {
    border-collapse: collapse;
    margin-top: 122px;
    margin-left: 430px;
    
}
td { 
        
    width: 150px;
    height: 150px;  
}
.col {
    border-right: solid black 3px;
    border-left:solid black 3px;
}
.row {
    border-top: solid black 3px;
    border-bottom:solid black 3px;
}

